parameters:
	ignoreErrors:
		-
			identifier: ergebnis.noParameterWithNullDefaultValue
			path: ../../src/Producer.php
			count: 3
		-
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			path: ../../src/Producer.php
		-
			identifier: argument.type
			path: ../../src/Message.php
